@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Monoton&family=Pacifico&family=Turret+Road:wght@200;300;400;500;700;800&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Turret Road', cursive;
}
body, html {
    margin: 0;
    z-index: 1;
    background: linear-gradient(135deg,#e66465, #9198e5);
    background-attachment: fixed;
    font-size: 16px;
}
/*-----------------NAV START ----------------*/
nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top:0;
    background-color: transparent;
    margin-bottom: 20px;
}
.navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
.logo-desc-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nav-logo {

}
.nav-desc {
    font-size: 1em;
    color: white;
    animation: descUp 0.5s ease-out;
}
@keyframes descUp {
    0%{
        transform: translateY(20px);
    }
    100%{
        transform: translateY(0);
    }
}
.nav-desc > span {
    
}
.logo-arrow {
    font-size: 5em;
    color: white;
    padding:10px;
    margin-top: 10px;
}
.left-logo-arrow{
    animation: arrowAppearOne 0.5s ease-out;
}
.right-logo-arrow{
    animation: arrowAppearTwo 0.5s ease-out;
}
@keyframes arrowAppearOne {
    0%{
        transform: translate(-20px);
    }
    100%{
        transform: translate(0);
    }
}
@keyframes arrowAppearTwo {
    0%{
        transform: translate(20px);
    }
    100%{
        transform: translate(0);
    }
}
.logo-letter {
    font-size: 3em;
    color: white;
    font-weight: 700;
}
.logo-letter-1 {
 animation: letterWave 1s 50ms linear;
}
.logo-letter-2 {
    animation: letterWave 1s 100ms linear;
}
.logo-letter-3 {
    animation: letterWave 1s 150ms linear;
}
.logo-letter-4 {
    color:#91AAff;
    animation: letterWave 1s 200ms linear;
}
.logo-letter-5 {
    color:#91AAff;
    animation: letterWave 1s 250ms linear;
}
.logo-letter-6 {
    color:#91AAff;
    animation: letterWave 1s 300ms linear ;
}
.logo-letter-7 {
    color:#91AAff;
    animation: letterWave 1s 350ms linear ;
}
.logo-letter-8 {
    animation: letterWave 1s 400ms linear ;
    
}
.logo-letter-9 {
    animation: letterWave 1s 450ms linear ;
    
}
.logo-letter-10 {
    animation: letterWave 1s 500ms linear ;
    
}
.logo-letter-11 {
    animation: letterWave 1s 550ms linear ;
    
}
@keyframes letterWave {
    0%{
        color:#9198ff;
    }
    100%{

    }
}
.menu-layer {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    justify-items: flex-start;
    flex-wrap: wrap;
    background-color: rgba(255,255,255,0.2);
    opacity: 0;
    color:#636aca;
    backdrop-filter: blur(10px);
    z-index: 4;
    transition: all 2s ease-in;
}

.menu-layer-active {
    display: flex;
    opacity: 1;
    animation: layerActive 2s;
}
.menu-layer-deactive {
    display: flex;
    animation: layerDeactive 1s;
}
@keyframes layerDeactive {
    0%{
        backdrop-filter: blur(10px);
        background-color: rgba(255,255,255,0.2);
        opacity: 1;
    }
    100% {
        backdrop-filter: blur(0);
        background-color: transparent;
        opacity: 0;
    }
}
@keyframes layerActive {
    0%{
        backdrop-filter: blur(0px);
        background-color: transparent;
        opacity: 0;
    }
    100% {
        backdrop-filter: blur(10px);
        background-color: rgba(255,255,255,0.2);
        opacity: 1;
    }
}
.menu-layer ul {
    list-style: none;
    padding: 10px 0;

}
.menu-layer ul li {
    font-size: 1.2em;
    font-weight: 500;
    padding: 5px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.menu-layer ul li:hover {
    background-color: rgba(255,255,255,0.2)
}
.menu-layer span {
    font-weight: 700;
    font-size: 2em;
}
.menu-layer > div {
    margin: 20px;
}
.hamburger-menu {
    width: 35px;
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    z-index: 5;
    transition: all 0.5s ease;
}
.hamburger-menu .bar {
    width: 100%;
    height: 3px;
    border-radius: 10px;
    background-color:white;
    transition: all 1s ease;
}
.hamburger-menu-active .bar:nth-child(1) {
    transform: translate(1px,18px) rotate(45deg);
}
.hamburger-menu-active .bar:nth-child(2) {
    transform: translate(50px);
    opacity: 0;
}
.hamburger-menu-active .bar:nth-child(3) {
    transform: translate(0px,0px) rotate(-45deg);
}
/*-----------------NAV END ----------------*/
.value {
    outline: none;
    caret-color:rgba(255,255,255,0.5); ;
    background-color:rgba(255,255,255,0.15) ;
    border:1px solid rgba(255,255,255,0.1);
    color: rgba(255,255,255,0.8);
    text-align: center;
}
.value:focus{
    background-color:rgba(255,255,255,0.25);
}
.invalid-value {
    background-color:rgba(143, 0, 0, 0.05) ;
    border:1px solid rgba(255, 0, 0, 0.2);
}
.flex-container {
    display: flex;
    width: 100%;
    
    flex-direction: column;

    align-items: center;
}
.grid-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.grid-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255,255,255,0.2);
    padding: 15px 10px 25px 10px;
    margin: 10px;
    border-radius: 2px;
    border-top:1px solid rgba(255,255,255,0.36);
    border-left: 1px solid rgba(255,255,255,0.36);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
    backdrop-filter: blur(5px);
    z-index: 3;
    animation: comeIn 1.5s;
    
}
@keyframes comeIn {
    0%{filter: blur(15px);}

    100% {filter: blur(0);}
}
.grid-holder > h4{
    text-align: center;
    color: white;
}
.grid-container {
    padding: 10px 0px;
    display: grid;
    grid-template-columns: repeat(3,50px);
    grid-template-rows: repeat(3, 30px);
    grid-gap:5px;
}
.button-box{
    animation: comeIn 1.5s;
    transition: all 2s ease;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(3,auto);
    z-index: 3;
}
.button-box button {
    outline:none;
    border: none;
    padding: 7px 7px;
    font-size: 12px;
    margin: 5px;
    border-radius: 2px;
    background-color: #9198ff ;
    border-top:1px solid rgba(255,255,255,0.36);
    border-left: 1px solid rgba(255,255,255,0.36);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
    cursor: pointer;
}
.button-box button:hover{
    background-color: #91AAff;
}
.button-box button:active{
    transform: scale(0.9);
}
.message-box{
    padding: 10px;
    width: 350px;
    background-color:rgba(255,255,255,0.15) ;
    border:1px solid rgba(255,255,255,0.36);
    text-align: center;
    color:rgba(255,255,255,0.8);
    animation: comeIn 1.5s;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
    backdrop-filter: blur(20px);
    z-index: 3;
}
.result {
    text-align: center;
    color:rgba(255,255,255,0.8);
    transition: all 0.5s ease-in;
}
.result-pre-animation{
    animation: fadeIn 0.7s;
}
@keyframes fadeIn{
    0%{opacity: 0;}
    100%{opacity:1;}
}
.grid-pre-animation{
    animation: strech 0.5s;
}
@keyframes strech{
    0%{
        filter: blur(0);
        opacity: 0;
    }

    100%{
        filter:blur(8px);
        opacity: 1;
    }
}
/*-------------BUBBLE ANIMATION START ------------*/
.bubbles-box {
    position: absolute;
    bottom:0;
    left: 10%;
    width: 80% ;
    height: 80%;
    z-index: 2;
}
.bubble{
    position: absolute;
    z-index: 2;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: transparent;
    box-shadow: inset 0px 0px 5px  rgba(255,255,255,0.5);
}
.bubble-1{
    animation: bubbleOne 7.5s linear infinite;
}
.bubble-2{
    animation: bubbleTwo 7.5s linear infinite;
}
.bubble-3{
    animation: bubbleThree 7.5s linear infinite;
}

@keyframes bubbleOne{
    0% {
        opacity: 0;  
    }
    20% {
        opacity: 0.6
    }
    40% {
        opacity: 1;
    }
    100% {
        transform: translateY(-50vh) scale(10);
    }
}
@keyframes bubbleTwo{
    0% {
        opacity: 0;  
        transform: translate(0,0);
    }
    20% {
        opacity: 0.4
    }
    60% {
        opacity: 1;
    }
    100% {
        transform: translate(200px, -50vh) scale(10);
    }
}
@keyframes bubbleThree{
    0% {
        opacity: 0; 
        transform: translate(0,0); 
    }
    20% {
        opacity: 0.6
    }
    40% {
        opacity: 1;
    }
    100% {
        transform: translate(-200px, -50vh) scale(10);
    }
}
.result-matrix {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;
    opacity: 0;
    backdrop-filter: blur(10px);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 5;
    transition: all 2s ease-in;
    background-color: rgba(255,255,255,0.2);
}

.result-matrix-active {
    display: flex;
    opacity: 1;
    animation: layerActive 2s;
}
.result-matrix-deactive {
    display: flex;
    animation: layerDeactive 1s;
}
.result-matrix-values {
    display: grid;
    background-color: rgba(255,255,255,0.2);
    padding: 15px 10px 25px 10px;
    grid-gap:5px;
}

.result-value {
    background-color:rgba(255,255,255,0.15) ;
    border:1px solid rgba(255,255,255,0.1);
    color: rgba(255,255,255,0.8);
    text-align: center;
    padding-top: 7px;
}
/*-------------BUBBLE ANIMATION END ------------*/
@media screen and (max-width:768px) {
    .menu-layer ul {
        padding: 10px 0px 0px 0px;
        max-width: 280px;
    }
    .hamburger-menu-active {
        transform: translateY(-100px);
    }
}
@media screen and (max-width:584px) {
    .menu-layer {
        align-items: center;
    }
    .menu-layer .other-operations {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}
@media screen and (max-width:480px) {
    .logo-letter {
        font-size: 2em;
    }
    .logo-arrow {
        font-size: 3.5em;
    }
    .nav-desc {
        font-size: 0.9em;
    }
    .menu-layer ul {
        padding: 10px 0px 0px 0px;
        max-width: 280px;
    }
    .hamburger-menu-active {
        transform: translateY(-80px);
    }
}
@media screen and (max-width:350px) {
    .logo-letter {
        font-size: 1.5em;
    }
    .logo-arrow {
        font-size: 2.5em;
    }
    .nav-desc {
        font-size: 0.7em;
    }
    .button-box button {
        font-size: 12px;
    }
    .menu-layer ul li {
        font-size: 1.2em;
        font-weight: 500;
        padding: 5px;
        cursor: pointer;
    }
    .menu-layer span {
        font-weight: 700;
        font-size: 1.5em;
    }
    .menu-layer ul {
        padding: 10px 0px 0px 0px;
        max-width: 200px;
    }
    .hamburger-menu-active {
        transform: translateY(-60px);
    }
}